<div class="container">
    <div class="row p-5 ml-5">
        <div class="col-4 vehicle mr-5">
            <h2>Current Vehicles</h2>
            <ul class="list-group mb-3">
                {{#each vehicleData}}
                    <li class="m-2">
                        <div class="row border p-3 bg-light rounded">
                        <div class="col-9">
                            <h5>{{vehicle_make}}</h5>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-dark mx-3 text-nowrap" data-id="{{id}}">View Details</button>
                        </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-6 vehicle-details">
            <h2>Vehicle Details</h2>
        </div>
    </div>
</div>


