<div class="container">
    <form class="addVehicle">
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Vehicle Make and Model</label>
            <input class="form-control form-control-lg" id="vehicle_make" type="text" placeholder="Make and Model" aria-label=".form-control-lg example">
        </div>
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Last Reported Mileage</label>
            <input class="form-control form-control-lg" id="last_mileage" type="text" placeholder="Mileage" aria-label=".form-control-lg example">
        </div>
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Current Driver</label>
            <input class="form-control form-control-lg" id="current_driver" type="text" placeholder="Current Driver" aria-label=".form-control-lg example">
        </div>
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Current Location</label>
            <input class="form-control form-control-lg" id="current_location" type="text" placeholder="Current Location" aria-label=".form-control-lg example">
        </div>
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Exp of Registration</label>
            <input class="form-control form-control-lg" id="reg_exp" type="text" placeholder="Reg. Exp" aria-label=".form-control-lg example">
        </div>
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Last Oil Change</label>
            <input class="form-control form-control-lg" id="last_oilchange" type="text" placeholder="Last Oil Change" aria-label=".form-control-lg example">
        </div>
        <div class="col-6 mb-3">
            <label for="FormControlInput1" class="form-label">Reported Problems</label>
            <textarea class="form-control" placeholder="Reported Problems" id="reported_problems" rows = "4"></textarea>
        </div>

        <div class="col">
            <button type="button" class="btn-lg btn-dark mx-3 text-nowrap addBtn">Add Vehicle</button>
        </div>
    </form>
</div>
